@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>
                <input type="hidden" asp-for="ReturnUrl" value="~/" />
                <form id="registerForm" method="post">
                    
                    <h4 class="mb-3">Yeni bir hesap oluşturun.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.FullName" class="form-control" autocomplete="name" aria-required="true" placeholder="Adınız Soyadınız" />
                        <label asp-for="Input.FullName">Ad Soyad</label>
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">E-posta</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Şifre</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Şifreyi Onayla</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    
                    <div class="d-grid">
                        <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg">Kayıt Ol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}