@model HotelReservation.Models.Room

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group mb-2">
    <label asp-for="RoomType" class="control-label"></label>
    <input asp-for="RoomType" class="form-control" />
    <span asp-validation-for="RoomType" class="text-danger"></span>
</div>
<div class="form-group mb-2">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control" rows="3"></textarea>

    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group mb-2">
    <label asp-for="Capacity" class="control-label"></label>
    <input asp-for="Capacity" type="number" class="form-control" />
    <span asp-validation-for="Capacity" class="text-danger"></span>
</div>
<div class="form-group mb-2">
    <label asp-for="PricePerNight" class="control-label"></label>
   @using System.Globalization

<input asp-for="PricePerNight" 
       class="form-control" 
       type="number" 
       step="any" 
       value="@Model.PricePerNight.ToString(CultureInfo.InvariantCulture)" />  
    <span asp-validation-for="PricePerNight" class="text-danger"></span>
</div>
<div class="form-group mb-2">
    <label for="ImageFile" class="control-label">Oda Resmi</label>
    <input name="ImageFile" type="file" class="form-control" accept="image/*" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>
<div class="form-group form-check mt-3">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
    </label>
</div>